@model List<canalplus.Models.Regions>
<h1>Details abonnement par chaine du client @ViewBag.Client.Mdp </h1>
 <table>
        <thead>
            <tr>
                <th>Chaines</th>
                <th>Prix Paye</th>
                <th>Region</th>
                <th>DateDebut abonnement</th>
                <th>DateFin abonnement</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.DetailsAboChaines)
            {
                <tr>
                    <td>@item.NomChaine</td>
                    <td>@item.PrixPaye Ar</td>
                    <td>@item.NomRegion</td>
                    <td>@item.DateDebut.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@item.DateFin.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
</table>